<?xml version="1.0" encoding="utf-8"?>
<!--
Ce fichier est utilisé par le processus de publication/package de votre projet Web. Vous pouvez personnaliser le comportement de ce processus
en modifiant ce fichier MSBuild. Pour en savoir plus à ce sujet, consultez la page http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <EnableADPublish>true</EnableADPublish>
    <ADDirectoryAccessLevel>2</ADDirectoryAccessLevel>
    <ADDomain>mltdemo.onmicrosoft.com</ADDomain>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://gwab-goodies.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>waws-prod-db3-007.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>gwab-goodies</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$gwab-goodies</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="DataContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:dk0zxx2x6g.database.windows.net,1433;Initial Catalog=gwab-data;Integrated Security=False;User ID=ogasa6@dk0zxx2x6g;Password=PASSword?1;Connect Timeout=30;Encrypt=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="webapp.Models.DataContext, webapp" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="TenantDbContext" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:dk0zxx2x6g.database.windows.net,1433;Initial Catalog=gwab-tenants;Integrated Security=False;User ID=ogasa6@dk0zxx2x6g;Password=PASSword?1;Connect Timeout=30;Encrypt=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="webapp.Models.TenantDbContext, webapp" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADAppIDUri>https://mltdemo.onmicrosoft.com/WebApp-gwab-goodies.azurewebsites.net</ADAppIDUri>
    <ADDestinationProvisioned>True</ADDestinationProvisioned>
    <ADClientAPPID>35ca132f-ffae-4cfa-8aaa-8ea4c4e8210f</ADClientAPPID>
    <ADClientPassword>itU+96nSYXABDh6d/V5aw+uU9QLblIYPr6eD4lfnleY=</ADClientPassword>
    <ADReplyUrl>https://gwab-goodies.azurewebsites.net/</ADReplyUrl>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DataContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:dk0zxx2x6g.database.windows.net,1433;Initial Catalog=gwab-data;Integrated Security=False;User ID=ogasa6@dk0zxx2x6g;Password=PASSword?1;Connect Timeout=30;Encrypt=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TenantDbContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:dk0zxx2x6g.database.windows.net,1433;Initial Catalog=gwab-tenants;Integrated Security=False;User ID=ogasa6@dk0zxx2x6g;Password=PASSword?1;Connect Timeout=30;Encrypt=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>